
@import "./header.scss";
$myColor : red;
.box {
    background-color: $myColor;
    width: 100px;
    height: 100px;
}

.mybutton {
    background-color: $myColor;
    width: 100px;
    height: 100px;
}

@include someStyle(yellow);

@function function_name($parameters) {
    // code block

    @return value;
}

$item : function_name(red);